@model CreateProductFormViewModel

@{
	ViewData["Title"] = "Create Product";
}


<h2>
	<i class="bi bi-plus-lg"></i>
	Add a new Product
</h2>

<form asp-controller="Products" method="post" enctype="multipart/form-data">  
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label asp-for="Name" class="form-label mt-4">Name</label>
				<input type="text" class="form-control" asp-for="Name" placeholder="Name">
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="BrandId" class="form-label mt-4"></label>
				<select class="form-select" asp-for="BrandId" asp-items="Model.Brands">
					<option>Select Brand</option>
				</select>
				<span asp-validation-for="BrandId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="CategoryId" class="form-label mt-4"></label>
				<select class="form-select" asp-for="CategoryId" asp-items="Model.Categories">
					<option>Select Category</option>
				</select>
				<span asp-validation-for="CategoryId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Price" class="form-label mt-4">Price</label>
				<input type="number" class="form-control" asp-for="Price" placeholder="Price">
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Description" class="form-label mt-4">Description</label>
				<textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Description" class="form-label mt-4">Description</label>
				<input type="file" class="form-control" asp-for="Cover"></input>
				<small id="emailHelp" class="form-text text-muted">Only .jpg, .png are allowed.</small>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>


			<button type="submit" class="btn btn-primary mt-4" >Save changes</button>
		</div>
		<div class="col">

		</div>
	</div>
</form>




